html,
body {
    width: auto !important;
    overflow-x: hidden !important;
}

.navbar {
    background-color: #479b63 !important;
}

#contactrow {
    display: table;
    padding: 0;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}

#contactrow .floating {
    display: table-cell;
    float: none;
    vertical-align: middle;
}

.greensubtext {
    font-family: 'Tisa Pro';
    font-size: 17px;
    color: #3D763C !important;
}

#mt {
    height: calc(100vh - 60px);
    margin-top: 60px;
}

#map {
    width: 100%;
}

#padded {
    margin-bottom: 30px;
    background-color: #466699;
    margin-top: 80px;
}

.form-control {
    padding: 10px;
    border: none;
    border-radius: 0;
    background-color: rgba(255,255,255,0.8);
    -webkit-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
    font-family: Proxima;
   font-size: 17px;
}

.form-control:hover,
.form-control:focus {
    background-color: rgb(255,255,255);
    -webkit-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
}

::-webkit-input-placeholder {
   font-family: Proxima;
   font-size: 17px;
}

:-moz-placeholder { /* Firefox 18- */
   font-family: Proxima;
   font-size: 17px;
}

::-moz-placeholder {  /* Firefox 19+ */
   font-family: Proxima;
   font-size: 17px;
}

:-ms-input-placeholder {
   font-family: Proxima;
   font-size: 17px;
}

#contactrow .col-md-6{
	padding: 0;
}

#contact-form{
	padding: 20px;
}

.iluminado{
	background-color: rgb(255,255,255);
    -webkit-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
}