#headerwrap {
    height: 70vh;
    background: url('../img/experiencia.jpg') no-repeat scroll center center / cover #374052;
}

#headerwraptext {
    padding-top: 150px;
}

#headerwraptext h1,
#headerwraptext p,
#headerwraptext b {
    color: white;
}

#headerwraptext .little {
    font-size: 20px;
}

@media(max-width:400px) {
    #headerwraptext h1 {
        text-shadow: 0 1px 3px rgba(0,0,0,0.4);
        font-size: 30pt;
    }

    #headerwraptext p {
        text-shadow: 0 1px 3px rgba(0,0,0,0.4);
        font-size: 20pt;
    }
}

@media(min-width:401px) {
    #headerwraptext h1 {
        text-shadow: 0 1px 3px rgba(0,0,0,0.4);
        font-size: 60pt;
    }

    #headerwraptext p {
        text-shadow: 0 1px 3px rgba(0,0,0,0.4);
        font-size: 30pt;
    }

    #aboutus {
        display: table;
    }

    #aboutus .floating {
        display: table-cell;
        float: none;
        vertical-align: middle;
    }

    #opiniones {
        display: table;
    }

    #opiniones .floating {
        display: table-cell;
        float: none;
        vertical-align: middle;
    }
}

.white,
.white b {
    color: white;
}

#intromarketing {
    padding-top: 30px;
    padding-bottom: 30px;
}

#intromarketing img {
    display: block;
    width: 100%;
    margin: 0 auto;
    max-width: 150px;
    text-align: center;
}

figcaption {
    margin-top: 10px;
    text-align: center;
    font-family: Proxima;
    font-size: 15px;
}

#amedida {
    background-color: white;
}

#clients {
    padding: 40px;
    background: url('../img/exp2.jpg') no-repeat scroll center center / cover #374052;
    background-attachment: fixed;
}

#clients img {
    margin-bottom: 10px;
}

.nombre {
    font-style: normal !important;
    font-weight: bold;
    color: #479b63;
}

#opiniones {
    padding-top: 30px;
    padding-bottom: 30px;
    background: -webkit-linear-gradient(#479b63,#48b36d) ; /* For Safari 5.1 to 6.0 */
    background: -webkit-linear-gradient(#479b63,#48b36d);
    background: linear-gradient(#479b63,#48b36d) ; /* Standard syntax */
}

#opiniones h2,
#opiniones b {
    color: white;
}

.feedback {
    margin-bottom: 20px;
    padding: 10px;
    background-color: rgba(255,255,255,0.8);
    -webkit-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
}

.feedback:hover {
    background-color: rgb(255,255,255);
    -webkit-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
}

#joinus {
    padding-top: 30px;
    padding-bottom: 30px;
}