#headerwrap {
    height: 70vh;
    background: url('../img/fuerteventura.jpg') no-repeat scroll center center / cover #374052;
}

#headerwraptext {
    padding-top: 100px;
}

#headerwraptext h1,
#headerwraptext p {
    color: white;
}

#headerwraptext .little {
    font-size: 20px;
}

@media(max-width:400px) {
    #headerwraptext h1 {
        text-shadow: 0 1px 3px rgba(0,0,0,0.4);
        font-size: 30pt;
    }

    #headerwraptext p {
        text-shadow: 0 1px 3px rgba(0,0,0,0.4);
        font-size: 20pt;
    }
}

@media(min-width:401px) {
    #headerwraptext h1 {
        text-shadow: 0 1px 3px rgba(0,0,0,0.4);
        font-size: 60pt;
    }

    #headerwraptext p {
        text-shadow: 0 1px 3px rgba(0,0,0,0.4);
        font-size: 30pt;
    }
}

#photo1 {
    height: 300px;
    margin-top: 40px;
}

#photo1 img {
    max-width: 90%;
    width: 100%;
    border: 5px solid white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.4);
    display: block;
    margin: 0 auto;
}

#photof1 {
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    -webkit-transform: rotate(-7deg);
    transform: rotate(-7deg);
}

#photof3 {
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    -webkit-transform: rotate(12deg);
    transform: rotate(12deg);
}

.straight {
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
            transition: transform 0.5s ease-in-out;
    -webkit-transform: rotate(0deg) !important;
            transform: rotate(0deg) !important;
}

#services{
	background: url('../img/fuerte-lb.jpg') no-repeat scroll center center / cover #374052;
	padding: 20px;
	padding-top: 40px;
	padding-bottom: 40px;
}

#services h2{
	margin-bottom: 40px;
}

#duracion{
	padding-top: 20px;
}

.panel-heading{
	font-family: "Proxima";
}

.panel-heading h4{
	font-size: 16pt;
	margin: 0;
}

.panel-heading b{
	color: #183517;
}

.panel .lead{
	margin: 0;
	font-weight: bold;
}

.panel-heading .little{
	font-family: 'Tisa Pro';
	text-transform: none;
	font-size: 16px;
}

.white,
.white b{
	color: white;
}

#amedida{
	background-color: white;
}