#headerwraptext{
	padding-top: 35vh;
}

#headerwraptext h1, #headerwraptext p{
	color: white;
}

#headerwraptext .little{
	font-size: 20px;
}

@media (max-width: 400px){
	#headerwraptext h1{
	font-size: 30pt;
	text-shadow: 0px 1px 3px rgba(0,0,0,0.4);
	}

	#headerwraptext p{
	font-size: 20pt;
	text-shadow: 0px 1px 3px rgba(0,0,0,0.4);
}
}

@media (min-width: 401px){
	#headerwraptext h1{
	font-size: 60pt;
	text-shadow: 0px 1px 3px rgba(0,0,0,0.4);
	}

	#headerwraptext p{
	font-size: 30pt;
	text-shadow: 0px 1px 3px rgba(0,0,0,0.4);
}
}

#headerwrap{
	background: url('../img/paris2.jpg') no-repeat scroll center center / cover #374052;
	height: 100vh;
}

.btn-contact{
	background-color: #3A4368;
	color: white;
	transition: all 0.5s ease;
}

.btn-contact:hover{
	background-color: #616886;
	color: white;
	transition: all 0.5s ease;
	box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}

#headerwraptext h1,
#headerwraptext p{
	text-shadow: 0px 1px 3px rgba(0,0,0,0.8);
}

#chevron{
	color: white;
	font-size: 30px;
}

#newsletter{
	background: -webkit-linear-gradient(#479b63
, #48b36d); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#479b63
, #48b36d); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#479b63
, #48b36d); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#479b63
, #48b36d); /* Standard syntax */
	padding-top: 30px;
	padding-bottom: 30px;
}

#newsletter h2{
	margin-top: 0;
}

#moremap{
	padding-top: 30px;
	padding-bottom: 30px;
}

#clients{
	padding: 30px;
	background: -webkit-linear-gradient(#479b63
, #48b36d); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#479b63
, #48b36d); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#479b63
, #48b36d); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#479b63
, #48b36d); /* Standard syntax */
}

#clients h2,
#clients p,
#newsletter h2,
#newsletter p{
	color: white;
}

#map{
	min-height: 300px;
}

#maphere{
	min-height: 300px;
}

#aboutus{
	padding-top: 30px;
	padding-bottom: 30px;
}

#clients img{
	max-width: 100%;
}

#aboutus p{
	text-align: justify;
}

#mainmarketing{
	padding-top: 30px;
	padding-bottom: 30px;
}

#mainmarketing .fa{
	font-size: 100px;
}

#mainmarketing img{
	margin-top: 20px;
	margin-bottom: 20px;
}

address{
	font-family: 'Tisa Pro';
	font-size: 18px;
}

.feedback{
	padding: 10px;
	text-align: justify;
}

.feedback p{
	font-style: italic;
}

.nombre {
	font-weight: bold;
	font-style: normal !important;
	color: #479b63;
}

#opiniones{
	padding-top: 10px;
	padding-bottom: 10px;
}

.sp{
	padding: 10px;
}

.bold{
	font-weight: bold;
	color: white !important;
}

#chevrondiv{
	float: left;
	position: absolute;
	bottom: 20px;
	margin: 0 auto;
	width: 100%;
	text-align: center;
}

#newsletter .input-group{
	width: 100%;
	max-width: 400px;
	margin: 0 auto;
}

#newsletter .form-control{
	background-color: rgba(255,255,255,0.4);
	transition: all 0.5s ease;
	border: none;
	font-family: 'Tisa Pro';
	font-size: 18px;
}

#newsletter .form-control:focus,
#newsletter .form-control:hover{
	background-color: rgba(255,255,255,1);
	transition: all 0.5s ease;
}

#morelittle{
	font-size: 14px;
	text-transform: uppercase;
	color: white;
	font-family: Proxima;
	font-weight: 300;
}

#morelittle b{
	color: white;
}