@font-face {
    font-family: 'Promixa';
    src: url('../fonts/proximanova-regularitalic-webfont.eot');
    src: url('../fonts/proximanova-regularitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-regularitalic-webfont.woff2') format('woff2'),
         url('../fonts/proximanova-regularitalic-webfont.woff') format('woff'),
         url('../fonts/proximanova-regularitalic-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-regularitalic-webfont.svg#proxima_novaregular_italic') format('svg');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Tisa Pro';
    src: url('../fonts/tisapro-mediita-webfont.eot');
    src: url('../fonts/tisapro-mediita-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tisapro-mediita-webfont.woff2') format('woff2'),
         url('../fonts/tisapro-mediita-webfont.woff') format('woff'),
         url('../fonts/tisapro-mediita-webfont.ttf') format('truetype'),
         url('../fonts/tisapro-mediita-webfont.svg#tisaproitalicmedium') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima';
    src: url('../fonts/proximanova-bold-webfont.eot');
    src: url('../fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-bold-webfont.woff2') format('woff2'),
         url('../fonts/proximanova-bold-webfont.woff') format('woff'),
         url('../fonts/proximanova-bold-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Tisa Pro';
    src: url('../fonts/tisapro-boldita-webfont.eot');
    src: url('../fonts/tisapro-boldita-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tisapro-boldita-webfont.woff2') format('woff2'),
         url('../fonts/tisapro-boldita-webfont.woff') format('woff'),
         url('../fonts/tisapro-boldita-webfont.ttf') format('truetype'),
         url('../fonts/tisapro-boldita-webfont.svg#tisaproitalicbold') format('svg');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Proxima';
    src: url('../fonts/proximanova-semibolditalic-webfont.eot');
    src: url('../fonts/proximanova-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-semibolditalic-webfont.woff2') format('woff2'),
         url('../fonts/proximanova-semibolditalic-webfont.woff') format('woff'),
         url('../fonts/proximanova-semibolditalic-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-semibolditalic-webfont.svg#proxima_novasemibold_italic') format('svg');
    font-weight: semibold;
    font-style: italic;
}
@font-face {
    font-family: 'Proxima';
    src: url('../fonts/proximanova-boldit-webfont.eot');
    src: url('../fonts/proximanova-boldit-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-boldit-webfont.woff2') format('woff2'),
         url('../fonts/proximanova-boldit-webfont.woff') format('woff'),
         url('../fonts/proximanova-boldit-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-boldit-webfont.svg#proxima_nova_rgbold_italic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Tisa Pro';
    src: url('../fonts/tisaot-webfont.eot');
    src: url('../fonts/tisaot-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tisaot-webfont.woff2') format('woff2'),
         url('../fonts/tisaot-webfont.woff') format('woff'),
         url('../fonts/tisaot-webfont.ttf') format('truetype'),
         url('../fonts/tisaot-webfont.svg#tisaotregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Tisa Pro';
    src: url('../fonts/tisapro-bold-webfont.eot');
    src: url('../fonts/tisapro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tisapro-bold-webfont.woff2') format('woff2'),
         url('../fonts/tisapro-bold-webfont.woff') format('woff'),
         url('../fonts/tisapro-bold-webfont.ttf') format('truetype'),
         url('../fonts/tisapro-bold-webfont.svg#tisaprobold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima';
    src: url('../fonts/proximanova-regular-webfont.eot');
    src: url('../fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-regular-webfont.woff2') format('woff2'),
         url('../fonts/proximanova-regular-webfont.woff') format('woff'),
         url('../fonts/proximanova-regular-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

h1, h2, h3, h4{
	font-family: 'Proxima';
    text-transform: uppercase;
    margin-bottom: 20px;
}

p, a, td, th, li{
	font-family: 'Tisa Pro';
	font-size: 16px;
	font-weight: 300;
}

p{
	color: #555;
}

b{
	color: #44484E;
}

.navbar-collapse.in {
    background-color: #101010 !important;
}

#socialmedia i{
    font-size: 28px;
}

.navbar{
	background-color: transparent;
	transition: background-color 0.5s ease;
}

.navbar-inverse .navbar-brand {
    color: transparent;
    transition: color 0.5s linear;
    font-size: 14pt;
}

.view{
    color: white !important;
    transition: color 0.5s linear;
}

.navbar-inverse .navbar-nav > li{
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-brand{
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar-inverse .navbar-nav > li > a {
    color: rgba(255,255,255,0.6);
    font-weight: 300;
    font-family: 'Proxima';
    text-transform: uppercase;
    font-size: 14px;
    padding: 10px;
}

.navbar-inverse .navbar-nav .active > li > a {
    color: white;
    font-weight: 300;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #FFF;
    background-color: transparent !important;
}

.navbar-inverse {
    border-color: transparent;
}

.visiblenav{
	background-color: #479b63;
	transition: background-color 0.5s ease;
}

.visiblenav .navbar-nav > li > a {
    color: rgba(255,255,255,0.8);
}

/* Text & images positions and styles */

.centered {
    text-align: center;
}

.justified {
    text-align: justify;
}

.right {
    text-align: right;
}

.italic {
    font-family: Skolar !important;
    font-style: italic;
}

.img-centered {
    display: block;
    margin: 0 auto;
}

.btncenter {
    display: block;
    width: 300px;
    margin: 0 auto;
}

.uppercase {
    text-transform: uppercase;
}

.din {
    font-family: DIN;
}

/* Horizontal lines */

hr {
    display: block;
    height: 1px;
    margin: 1em 0;
    padding: 0;
    border: 0;
    border-top: 1px solid #ccc;
}

.hline {
    border-bottom: 2px solid RGBA(48,66,88,0.6);
}

/* ==========================================================================
   HELPERS
   ========================================================================== */

.noshadow h1, .noshadow h2, .noshadow h3, .noshadow h4{
    text-shadow: none !important;
}

.ornament{
    font-family: Ornament;
    font-size: 15px;
}

.mt {
    margin-top: 40px;
    margin-bottom: 40px;
}

.pd {
    padding-top: 40px;
    padding-bottom: 40px;
}

.pdsides {
    padding-right: 20px;
    padding-left: 20px;
}

.sep {
    padding-bottom: 30px;
}

.nopadding {
    padding: 0 !important;
}

.nolist {
    padding-left: 0;
    list-style: none;
}

.nolist li {
    display: inline-block;
    float: left;
}

.view {
    opacity: 1;
}

.borderright {
    border-right: 1px solid white;
}

.uppercase {
    text-transform: uppercase;
}

#contact{
	background-color: #082437;
}

#contact p, #contact i{
color: #99A6B5;
font-weight: 300;
}

#contact hr{
    border-top: 1px solid RGBA(255,255,255,0.4);
}

#contact h3{
	color: white;
}

#contact a{
	color: #e6e9ed;
	font-weight: 300;
}

/* ==========================================================================
  Anchor CSS hack
   ========================================================================== */

a.anchor {
    display: block;
    visibility: hidden;
    position: relative;
    top: -50px;
}

#contact img{
    max-width: 200px;
    display: block;
    margin: 0 auto;
    padding-top: 70px;
}

/* ==========================================================================
  Flags
   ========================================================================== */

.flag {
    width: 16px;
    height: 11px;
    background:url(../img/flags.png) no-repeat;
}

.flag.flag-es {background-position: -16px 0}
.flag.flag-gb {background-position: 0 -11px}


/* ==========================================================================
  Others
   ========================================================================== */

#ann{
    min-height: 120px;
}

.green{
    color: #6EF19A !important;
}

footer{
    background-color: #466699;
    padding: 30px;
}

footer p{
    margin: 0;
}

footer a{
    font-family: Proxima;
}

footer .copy p{
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    font-family: Proxima;
}

footer .fa{
    margin-right: 10px;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.8);
}

footer .fa:hover{
    color: rgba(255, 255, 255, 1);
}

.pp{
    padding-left: 20px;
    padding-right: 20px;
}

.pi{
    padding: 20px;
}

.btn-danger{
    text-transform: uppercase;
    font-family: Proxima;
}

.btn-primary{
    background-color: #466699;
    border: 1px solid #466699;
    text-transform: uppercase;
    font-family: Proxima;
}
