html, body {
  width: auto !important;
  overflow-x: hidden !important;
}

.navbar{
	background-color: #479b63 !important;
}

#selector{
	width: 100%;
	height: 100%;
}

#selector-row{
	display: table;
	height: calc(100vh - 60px);
	width: 100vw;
}

#selector-row .floating {
    float: none;
    display: table-cell;
    vertical-align: middle;
}

.toview{
	transition: opacity 0.5s ease;
}

.pi img{
	max-width: 100%;
	max-height: 100px;
}

.floating .pi{
	border: 2px solid transparent;
}

.floating .pi h3{
	margin-bottom: 0;
}

.floating .pi:hover{
	border: 2px solid rgba(0,0,0,0.4);
	cursor: pointer;
}

.contactbox{
	margin-top: 20px;
	margin-bottom: 20px;
	color: white;
	background: -webkit-linear-gradient(#479b63
, #48b36d); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#479b63
, #48b36d); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#479b63
, #48b36d); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#479b63
, #48b36d); /* Standard syntax */
}

.contactbox p{
	color: white;
}

#viewcursos ul,
#viewtraduccion ul,
#viewaudiovisuales ul{
	margin-bottom: 20px;
}

#showtraduccion{
	-animation-delay: 0.3s;
	-moz-animation-delay: 0.3s;
	-webkit-animation-delay: 0.3s;
}

#showaudiovisuales{
	-animation-delay: 0.8s;
	-moz-animation-delay: 0.8s;
	-webkit-animation-delay: 0.8s;
}

.greensubtext{
	font-family: 'Tisa Pro';
	font-size: 17px;
	color: #3D763C !important;
}

#wrapper{
	margin-top: 60px;
}

#oferta .col-md-4,
#oferta .col-md-8{
	padding: 0;
}

.ptb{
	padding-bottom: 10px;
	padding-right: 10px;
}

.ptb h4,
.ptb b{
	color: #384F52;
}

#fuerteventuratext{
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 30px;
}

#fuerteventura{
	background: url('../img/fuerte2.jpg') no-repeat scroll center center / cover #374052;
}

#fuerteventura h3,
#fuerteventura p,
#fuerteventura b{
	color: white;
}
